.message-container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    min-width: 50px;
    margin: 2px;
    padding: 5px 10px 2px;
    border-radius: var(--border-radius);
    position: relative;
}

.sender {
    align-self: flex-end;
    background-color: #dcf8c6;
}

.receiver {
    align-self: flex-start;
    background-color: #fff;
    border: 1px solid var(--border-color);
}

.message-body {
    position: relative;
}

.message-text {
    margin: 0 60px 5px 0;
    font-size: 14px;
    color: var(--text-color);
    word-wrap: break-word;
}

.message-time {
    font-size: 10px;
    color: var(--text-secondary-color);
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.message-author {
    font-size: 10px;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 5px;
}