.chat-info-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 60px;
}

.chat-info-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    margin-left: 20px;
    flex-grow: 1;
}

.chat-info-spinner {
    margin-left: auto;
    display: flex;
    align-items: center;
}
  