.message-container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    min-width: 100px;
    margin: 2px;
    padding: 12px 8px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    position: relative;
}

.sender {
    align-self: flex-end;
    background-color: var(--primary-faded-color);
}

.receiver {
    align-self: flex-start;
    background-color: var(--background-color);
}

.message-body {
    position: relative;
}

.message-text {
    margin: 5px 0 2px 0;
    font-size: 14px;
    color: var(--text-color);
    word-wrap: break-word;
    line-height: 1.1;
}

.message-time {
    font-size: 10px;
    color: var(--text-secondary-color);
    text-align: right;
    position: absolute;
    right: 0;
}

.message-author {
    font-size: 10px;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 5px;
}

.forwarded-badge {
    position: absolute;
    left: 8px;
    top: 1px;
    font-size: 10px;
    font-style: italic;
    color: var(--primary-color);
    font-weight: 600;
}

.forwarded-badge::before {
    content: "↪";
    font-size: 10px;
    color: var(--primary-color);
}

.message-select {
    position: absolute;
    top: 3px;
    right: 7px;
    width: 8px;
    height: 8px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background: var(--background-color);
    cursor: pointer;
}

.message-select.selected {
    background: var(--primary-color);
    border-color: var(--primary-color);
}