.chip-section {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 5px;
}

.chip {
    padding: 5px 10px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-large);
    font-size: 12px;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s;
    user-select: none;
}

.chip:hover {
    filter: brightness(1.1);
}

.chip.active {
    background-color: var(--primary-color);
    color: white;
}
