.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    background-color: var(--background-color);
    box-shadow: 0 1px 3px var(--shadow-color);
    box-sizing: border-box;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
    border-radius: var(--border-radius);
}

.search-icon {
    margin-left: 10px;
    font-size: 14px;
    color: var(--text-secondary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-bar:hover {
    box-shadow: 0 2px 5px var(--shadow-color);
}

.search-bar:focus-within {
    box-shadow: 0 2px 5px var(--shadow-color);
}
  