.tabs-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.tabs-header {
    display: flex;
    background: transparent;
    padding: 4px 4px 0 4px;
}

.tabs-content {
    flex: 1;
    overflow: hidden;
    background: var(--background-color);
    padding: 5px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.tab {
    padding: 6px 14px;
    margin-right: 4px;
    background: var(--secondary-color);
    color: var(--text-invert-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.2s, color 0.2s;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.tab.active {
    background: var(--background-color);
    color: var(--text-color);
    border-bottom: 2px solid transparent;
    font-weight: 500;
}

.tab:hover:not(.active) {
    filter: brightness(1.1);
}
