.chat-window {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw - 280px);
    background-color: var(--background-secondary-color);
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    position: relative;
}

.chat-messages::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--border-radius);
}

.chat-messages::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.date-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 0;
}

.date-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: var(--border-color);
    z-index: 1;
}

.date-text {
    position: relative;
    background-color: var(--background-secondary-color);
    padding: 0 10px;
    font-size: 12px;
    color: var(--text-secondary-color);
    z-index: 2;
}
  