:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Colors */
    --primary-color: #4285f4;
    --text-color: #333;
    --secondary-text-color: #888;

    /* Border radius */
    --border-radius: 5px;
    --border-radius-large: 20px;
    --border-radius-round: 50%;
}

body {
    margin: 0;
}

